export(calcdx)
export(integralScale)
export(linearFit)
export(logFit)
export(logFitFun)
export(logProfileFit)
export(msgYesNo)
export(powerFit)
export(powerFitFun)
export(powerProfileFit)
export(rep2)
export(rounddx)
export(roundmaxn)
export(sortNum)
