export(arrayLayout.show)
export(arrayLayout)
export(bandfilt)
export(basename2)
export(bindArgs)
export(bindList)
export(buildFileName)
export(buildFileNameFun)
export(calcdx)
export(calcLogProfile)
export(calcPowerProfile)
export(cfd.colors)
export(chooseFitSection)
export(contourf)
export(fidContour)
export(getArrayLayout)
export(hpfilt)
export(idfun)
export(integr)
export(integralScale)
export(isStrInt)
export(isStrNum)
export(join)
export(keyWindow)
export(kfactor)
export(latexOutput)
export(latexTable)
export(legendWindow)
export(linearFit)
export(logFit)
export(logFitFun)
export(logProfileFit)
export(lpfilt)
export(ltrim)
export(makeCircleDrawer)
export(makeColorFun)
export(msgYesNo)
export(mymenu)
export(numString)
export(powerFit)
export(powerFitFun)
export(powerProfileFit)
export(readInteger)
export(readNumber)
export(rep2)
export(rounddx)
export(roundmaxn)
export(rtrim)
export(sortNum)
export(tableLayout)
export(trim)
